<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do List</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Let's get things DONE</h1>

    <form class="" action="/" method="post">
      <input type="text" name="todo_enter" value="" placeholder="Type your item that needs to get done here">
      <input type="submit" name="" value="Pin it to the list!">
    </form>

    {{#todoList}}
      <form class="todo_group" action="/todo/{{todoId}}" method="post">
        <input type="submit" name="todo_item" value="Mark Complete">
        <label for="todo_item" name="todo_label">{{.}}</label>
      </form>
    {{/todoList}}

    <h2>Completed Tasks:</h2>
    {{#completed}}
    <h4>{{.}}</h4>
    {{/completed}}

<!--  class on each input, query selector all, loop over node list, node.parentNode.submit-->

  </body>
</html>
